*, *::after, *::before {
    box-sizing: border-box;
    font-family: Gotham Roundedï¼Œ sans-serif;
}

body {
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
}

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 1);
}